
.mask-group-icon {
  object-fit: cover;
  position: absolute;
  top: 111px;
  left: 542px;
  width: 50%;
} 
.img-icon {
  position: absolute;
  top: 71px;
  left: 717px;
  width: 329px;
  height: auto;
}
.img-icon1 {
  position: absolute;
  top: 175px;
  left: 671px;
  width: 90px;
  height: auto;
}
.propos-de-nous {
  position: relative;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 26px;
  text-transform: capitalize;
  font-family: "La Belle Aurore";
  color: #ff5e55;
  display: inline-block;
  width: 416px;
}
.dcouvrez {
  margin: 0;
}
.dcouvrez-notre-histoire-container {
  position: relative;
  font-size: 42px;
  letter-spacing: -0.5px;
  line-height: 54px;
  text-transform: capitalize;
  display: inline-block;
  color: #172a4c;
  width: 524px;
}
.an-enim-nullam {
  position: relative;
  line-height: 26px;
  display: inline-block;
  width: 416px;
}

.text1 {
  width: 416px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.text,
.text-wrapper {
  position: absolute;
  width: 416px;
}
.text-wrapper {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  top: 135px;
  left: 75px;
  height: 332px;
  color: #444;
}
.fiabilit,
.ut-enim-ad {
  position: relative;
  line-height: 20px;
}
.ut-enim-ad {
  line-height: 26px;
  color: #444;
  display: inline-block;
  width: 208px;
}
.fiabilit-parent {
  position: absolute;
  top: 0;
  left: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.div,
.div1,
.reliable-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 51.17px;
}
.div, .div1 {
  top: 525px;
  left: 74px;
  width: 264px;
  height: 75px;
}
.div1 {
  left: 347px;
}

.line-10-stroke {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1021.93px;
}
.line-10-stroke {
  top: 1021.93px;
  left: 312px;
  width: 1296px;
  height: 1.07px;
}
.img, .img-child {
  position: absolute;
  width: 199px;
  /* height: 416.69px; */
}
.img-child {
  top: -13px;
  left: -180px;
  border-radius: 10px;
  object-fit: cover;
}
.img {
  top: 355px;
  left: 811px;

}
.section-1 {
  position: relative;
  width: 100%;
  height: 783px;
  text-align: left;
  font-size: 16px;
  color: #172a4c;
  font-family: "HK Grotesk";
}



@media (max-width: 480px) {
  .text {
    top: 135px;
    left: 10px;
    height: 332px;
    color: #444;
  }
  
   .div1 {
    top:644px;

    left: 1px;
    width: 264px;
    height: 75px;
  }
  .div {
    top:550px;
    left: 1px;
    width: 264px;
    height: 75px;
  }
  .an-enim-nullam {
    position: relative;
    line-height: 26px;
    display: inline-block;
    width: 315px;
  }
  .img-icon {
    position: absolute;
    top: 735px;
    left: 140px;
    width: 158px;
    height: auto;
}
.img-icon1 {
    top: 752px;
    left: 118px;
    width: 42px;
    height: auto;
}
.img {
    top: 844px;
    left: 209px;
}
.img-child {
  width: 104px;
  top: 39px;
  left: -124px;
  border-radius: 10px;
  object-fit: cover;
}
.section-1 {
  left: 20px;
  position: relative;
  width: 100%;
  height: 1070px;
  text-align: left;
  font-size: 16px;
  color: #172a4c;
  font-family: "HK Grotesk";
}

.mask-group-icon {
  object-fit: cover;
  position: absolute;
  top: 111px;
  left: 542px;
  width: 50%;
} 
}