.blog-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-details {
    padding: 16px;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .calendar-icon {
    color: #777;
    margin-right: 8px;
  }
  
  .date {
    color: rgba(153, 153, 153, 1);
  }
  
  .title {
    color: rgba(23, 42, 76, 1);
    font-size: 1.2rem;
    margin-top: 8px;
    text-align: left;
  }
  
  .description {
    color: rgba(68, 68, 68, 1);
    margin-top: 8px;
  }
  
  .read-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(253, 76, 92, 1);
    cursor: pointer;
    margin-top: 8px;
  }
  
  .arrow-icon {
    margin-left: 8px;
  }
  
  .blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .blog-heading {
    margin-top: 10%;
  }
  
  .blog-subtitle {
    text-align: center;
    font-size: 42px;
    font-family: "HK Grotesk";
    font-weight: 700;
    color: rgba(23, 42, 76, 1);
    width: 781px;
    height: 54px;
    margin: 0 auto;
  }
  
  .blog-title {
    font-size: 24px;
    font-family: "La Belle Aurore";
    font-weight: 400;
    color: rgba(255, 94, 85, 1);
    width: 416px;
    height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2%;

  }
  
  .blog-sub {
    font-size: 16px;
    font-family: "HK Grotesk";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    width: 690px;
    height: 52px;
    text-align: center;
    margin: 0 auto;
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .blog-subtitle {
      font-size: 36px;
      width: 90%;
    }
  
    .blog-title {
      font-size: 20px;
      width: 90%;
      margin-bottom: 2%;

    }
  
    .blog-sub {
      font-size: 14px;
      width: 90%;
      margin-top: 15%;

    }
  }
  
  @media (max-width: 768px) {
    .blog-subtitle {
      font-size: 28px;
      width: 90%;
    }
  
    .blog-title {
      font-size: 18px;
      width: 90%;
      margin-bottom: 2%;
    }
  
    .blog-sub {
      font-size: 12px;
      width: 90%;
      margin-top: 2%;

    }
  }
  @media (max-width: 820px) {
    .blog-subtitle {
      font-size: 28px;
      width: 90%;
    }
  
    .blog-title {
      font-size: 18px;
      width: 90%;
      margin-bottom: 2%;
    }
  
    .blog-sub {
      font-size: 12px;
      width: 90%;
      margin-top: 5px;

    }
  }


  @media (max-width: 390px) {
    .blog-subtitle {
      font-size: 28px;
      width: 90%;
    }
  
    .blog-title {
      font-size: 18px;
      width: 90%;
      margin-bottom: 2%;
    }
  
    .blog-sub {
      font-size: 12px;
      width: 90%;
      margin-top:18%;

    }
  }
  
  