/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
}

.logo {
  height: 40px;
  width: auto;
  vertical-align: middle;
}

.navbar-middle {
  flex-grow: 1;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 15px;
  cursor: pointer;
}

.navbar-right button {
  margin-left: 15px;
  background-color: rgba(23, 42, 76, 1);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-right button:first-child {
  background-color: #fff;
  color: #000;
}

/* Center the list items in the middle of the screen */
.navbar-middle ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the full height of the container is covered */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar-right {
    margin-top: 15px;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 10px 0;
  }

  .navbar-middle {
    display: none;
  }

  .navbar.menu-open .navbar-middle {
    display: block;
  }

  .navbar-right {
    display: none;
  }

  .navbar.menu-open .navbar-right {
    display: block;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .navbar.menu-open .burger-menu .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar.menu-open .burger-menu .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.menu-open .burger-menu .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}







.centered-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-decouvrir{
  background-color: white;
  color: rgba(255, 94, 85, 1);
  border: 2px solid rgba(255, 94, 85, 1);
  padding: 8px 15px;
  cursor: pointer;
}